# path where files are uploaded to
# can also be an absolute path
UPLOAD_FOLDER=uploads

# admin and upload password
UPLOAD_PASSWORD=password
ADMIN_PASSWORD=admin

# Toggle login requirement
UPLOAD_AUTH_REQUIRED=true
ADMIN_AUTH_REQUIRED=true

# Enable/disable admin page
ENABLE_ADMIN=true

# key used by flask session (required)
SECRET_KEY=your_secret_key

# The start year for the copyright notice
START_YEAR=2025

# server addresses for download links
HOSTS=http://192.168.1.2,http://192.168.2.4

